.head {
  padding-bottom: 400px;
  background: url("../img/head.png") top/cover no-repeat;
}
.head__text {
  color: #ffffff;
  padding: 70px 46px;
}
.head__title {
  font-size: 50px;
  margin-bottom: 50px;
}
.head__menu {
  margin: 0;
  padding: 0;
}
.head__menu_list {
  display: flex;
}
.head__menu_item {
  list-style-type: none;
  margin-right: 20px;
}
.head__menu_link {
  text-decoration: none;
  color: #ffc600;
  font-weight: 400;
  transition: 0.2s;
}
.head__menu_link--active {
  color: #ffffff;
  border-bottom: 2px solid #ffc600;
}
.head__menu_link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffc600;
}

.text-color {
  color: #ffc600;
}

.about {
  font-family: "Helvetica Neue";
}
.about__text {
  display: flex;
}
.about__title {
  line-height: 45px;
  margin: 70px 140px;
  font-weight: 400;
}
.about__title--grey {
  color: #9d9d9d;
  font-size: 30px;
  margin-left: 10px;
}
.about__title--gold {
  font-size: 70px;
}
.about__title--gold::first-letter {
  color: #ffc600;
}
.about__description {
  width: 100%;
  max-width: 597px;
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
  padding: 40px 0 10px 0;
  margin: 10px;
  color: #9d9d9d;
  margin-bottom: 70px;
}
.about__description:before {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  background: #9d9d9d;
  position: absolute;
  left: 650px;
  margin-top: 10px;
}
.about__description--font {
  font-style: italic;
  color: #000000;
}
.about__delineation {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  margin-bottom: 70px;
}
.about__delineation_section {
  text-align: center;
  font-family: "Helvetica Neue";
  padding: 30px;
}
.about__delineation_section--title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 500;
}
.about__delineation_section--text {
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  max-width: 240px;
  padding-bottom: 15px;
  font-style: italic;
  color: #9d9d9d;
}
.about__delineation_section--img {
  position: relative;
  width: 100%;
  max-width: 57px;
  height: 57px;
  padding-bottom: 20px;
}
.about__delineation_section--img-gamepad {
  position: absolute;
  margin-top: 18px;
  margin-left: -43px;
}

.featured__title {
  font-size: 30px;
  margin-left: 80px;
  font-weight: 500;
}
.featured__title:first-letter {
  color: #ffc600;
}
.featured__menu {
  padding: 0 20px 40px;
  margin: 20px 0 0 60px;
  font-weight: 400;
}
.featured__list {
  display: flex;
}
.featured__link {
  list-style-type: none;
  margin-right: 20px;
}
.featured__item {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  ransition: 0.2s;
}
.featured__item--active {
  border-bottom: 2px solid #ffc600;
}
.featured__item:hover {
  border-bottom: 2px solid #ffc600;
}
.featured__gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.strategic-process {
  margin-bottom: 60px;
}
.strategic-process__title {
  font-size: 30px;
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 50px;
}
.strategic-process__title:first-letter {
  color: #ffc600;
}
.strategic-process__text {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
  text-align: justify;
  margin-bottom: 60px;
}
.strategic-process__text--font {
  color: #000000;
  font-style: italic;
  margin-bottom: 10px;
}
.strategic-process__gallery {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}
.strategic-process__gallery:nth-child(even) {
  flex-direction: row-reverse;
}
.strategic-process__gallery--position {
  display: flex;
}
.strategic-process__gallery--text {
  width: 100%;
  max-width: 420px;
  text-align: justify;
  margin: 30px 20px 0 25px;
  display: block;
  font-weight: 500;
  font-size: 14px;
}
.strategic-process__gallery--headline {
  font-size: 30px;
  margin-bottom: 20px;
}
.strategic-process__gallery--headline::first-letter {
  font-size: 45px;
}
.strategic-process__gallery--font-weight {
  font-style: italic;
  margin-bottom: 15px;
  font-weight: 500;
}
.strategic-process__gallery--p {
  color: #9d9d9d;
}

.services-provided {
  background: url("../img/Layer_26.png") 0 0/cover no-repeat, url("../img/Layer_25.png") no-repeat;
  padding-top: 30px;
  font-family: "Helvetica Neue";
  margin-bottom: 110px;
}
.services-provided__title {
  font-size: 30px;
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 50px;
  color: #ffffff;
}
.services-provided__title:first-letter {
  color: #ffc600;
}
.services-provided__text {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}
.services-provided__text--block {
  width: 100%;
  max-width: 250px;
  padding: 20px;
  font-size: 11px;
  margin-bottom: 45px;
}
.services-provided__text--h {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 17px;
}

.our-team__wrapper {
  display: flex;
}
.our-team__title {
  font-size: 30px;
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 50px;
}
.our-team__title:first-letter {
  color: #ffc600;
}
.our-team__text {
  width: 100%;
  max-width: 624px;
  margin: 0 0 0 137px;
  color: #9d9d9d;
  font-weight: 400;
  font-size: 14px;
}
.our-team__text--font-weight {
  color: #000000;
  font-style: italic;
  margin-bottom: 20px;
}
.our-team__gallery {
  display: flex;
  margin: 35px 0 150px 345px;
}
.our-team__gallery--name {
  max-width: 181px;
  text-align: center;
  margin-left: 20px;
}
.our-team__gallery--name:first-child {
  margin-left: 0;
}
.our-team__gallery--name-h {
  font-size: 16px;
  font-weight: 600;
}
.our-team__gallery--name-p {
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
}

.testimonials {
  background-color: #000000;
}
.testimonials__title {
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #222222;
  margin: 0 auto;
  font-weight: 700;
  font-family: "Helvetica Neue";
}
.main__text {
  color: #ffffff;
  padding-left: 80px;
  margin: 0 0 30px 0;
}
.main__text:first-letter {
  color: #ffc600;
}
.main__text-title {
  font-size: 120px;
  padding-top: 40px;
}
.main__text-p {
  font-weight: 400;
}
.main__text-link {
  font-weight: 400;
  color: #ffc600;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1198px;
  background-color: #ffffff;
  margin: 0 auto;
  padding-bottom: 40px;
}

/*# sourceMappingURL=style.css.map */
